body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "bio"
        "skills";
    background-color: #f6f6f6;
}

.bio {
    grid-area: bio;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.bio__content {
    font-size: 80%;
    padding: 4em 2em 6em 2em;
    background-color: #e8624b;
    color: #fff;
}

.bio__content--animated {
    animation-fill-mode: forwards;
    animation-name: expandDown;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: ease;
}

@media (min-width: 800px) {
    .bio__content {
        font-size: 90%;
        padding: 4em 4em 6em 4em;
    }
}

@media (min-width: 1150px) {
    .bio__content {
        font-size: 100%;
        padding: 4em 8em 6em 8em;
    }
}

@media (min-width: 1400px) {
    .bio__content {
        padding: 4em 12em 6em 12em;
    }
}

@media (min-width: 1800px) {
    .bio__content {
        padding: 4em 16em 6em 16em;
    }
}

@media (min-width: 1900px) {
    .bio__content {
        padding: 4em 18em 6em 18em;
    }
}

.bio__header {
    font-size: 2em;
    margin: 0 0 0.5em 0;
}

.bio__text {
    margin-top: 0.5em;
    font-size: 1.4em;
    line-height: 1.4em;
}

.bio__header--animated,
.bio__text--animated {
    transform: translateY(-1em);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: lowerAndReveal;
    animation-duration: 0.6s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
}

.bio__text--delay1 {
    animation-delay: 0.75s;
}

.bio__text--delay2 {
    animation-delay: 0.9s;
}

.bio__text--delay3 {
    animation-delay: 1.05s;
}

.bio__text .bold {
    font-weight: bold;
}

.bio__text a {
    text-decoration: none;
    color: #fff;
    padding: 0 0.2em;
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.1em 0.1em;
    transition: all 0.2s ease-in-out;
}

.bio__text a:hover {
    background-size: 0.1em 100%;
    /*avg of gradient*/
    color: #e8624b;
}

.bio__separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50px;
    /* set height to pixels if you want angle to change with screen width */
}

.bio__separator svg {
    margin-top: -1px;
    width: 25%;
    height: 0%;
}

.bio__separator--animated svg {
    animation-fill-mode: forwards;
    animation-name: expandDown;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-timing-function: cubic-bezier(0.81, 0, 0.11, 1.61);
}

.bio__separator polygon {
    fill: #e8624b;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.skills__header {
    color: #444444;
    font-size: 1.8em;
}

.skills__cards {
    grid-area: skills;
    margin: 0.5em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "languages"
        "tools"
        "other";
}

@media (min-width: 800px) {
    .skills__cards {
        margin: 0.5em 6em;
    }
}

@media (min-width: 1150px) {
    .skills__cards {
        margin: 0.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "languages tools other";
    }
}

@media (min-width: 1800px) {
    .skills__cards {
        margin: 0.5em 6em;
    }
}

@media (min-width: 1900px) {
    .skills__cards {
        margin: 0.5em 8em;
    }
}

.skills__languages {
    grid-area: languages;
}

.skills__tools {
    grid-area: tools;
}

.skills__other {
    grid-area: other;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0.5em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: left;
}

.skills__header--animated,
.skill-card--animated {
    transform: translateY(-1em);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: lowerAndReveal;
    animation-duration: 0.6s;
    animation-delay: 0.75s;
    animation-timing-function: ease-in-out;
}

.skill-card--delay1 {
    animation-delay: 0.9s;
}

.skill-card--delay2 {
    animation-delay: 1.05s;
}

.skill-card--delay3 {
    animation-delay: 1.2s;
}

.skill-card__header {
    background-color: #e8624b;
    color: #fff;
    padding: 0.8em;
    text-align: center;
}

.skill-card__title {
}

.skill-card__content {
    margin: 1em 2em 2em 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
        "col1"
        "col2";
    grid-gap: 0.5em;
    text-align: left;
}

.skill-card__content > section {
    align-self: start;
}

@media (min-width: 500px) {
    .skill-card__content {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "col1 col2";
    }
}

@media (min-width: 1150px) {
    .skill-card__content {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas:
            "col1"
            "col2";
    }
}

@media (min-width: 1400px) {
    .skill-card__content {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "col1 col2";
    }
}

.skill-card__subtitle {
    margin-top: 1em;
    font-size: 1em;
}

.skill-card__list {
    list-style: none;
}

.skill-card__list-item {
    font-size: 1em;
}
